@media (max-width: 1023px) {
  html {
    font-size: 55%;
  }
  .navbar-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .navbar__logo-img2 {
    display: block;
  }
  .header__navbar {
    display: none;
  }
  .header__info {
    display: none;
  }
  .parallax {
    height: 900px;
  }
  .about-company-overview {
    flex-direction: column;
  }
  .about-company-content-img {
    margin: 0 auto 20px auto;
  }
  .about-company-soulof {
    flex-direction: column;
  }
  .founder-info1 {
    text-align: center;
  }

  /* CONTACT */
  .contact-container {
    width: 90%;
    min-width: auto;
    margin: 20px;
  }
  .contact-container-info {
    top: 0;
    height: 400px;
    position: relative;
    border-radius: 0;
    box-shadow: none;
  }
  .contact-container-form {
    position: relative;
    width: calc(100% -400px);
    padding-left: 0;
    padding: 40px;
    border-radius: 0;
    margin-left: 0;
    height: 400px;
  }
}
@media (max-width: 770px) {
  .layout-contact-wrapper {
    display: none;
  }
  .about-title-link {
    display: block;
  }
  .about-img-name {
    font-size: 4rem;
  }
  .souof-text{
    margin: 0;
  }
  .souof-text2{
    padding-left: 0;
  }
  /* CONTACT */
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-container-form {
    width: 100%;
    height: auto;
  }
  .contact-container-info {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  
}
